@keyframes dash {
  0% {
    fill-opacity: 0;
  }
  75% {
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes floatUp {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
